$font-stack: sans-serif;
$font-primary-color: #EFEFEF;
$font-secondary-color:black;
$navbar-bgcolor:#112B3C;
$services-bgcolor: #205375;
$footer-bgcolor:#F66B0E;

* {
    padding: 0px;
    margin: 0px;
}

body {
    font: 100% $font-stack;
    color: $font-primary-color;
  }

.navbar {
    background-color: $navbar-bgcolor;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__logo {
    height: 40px;
    width: 40px;
}

[class ^="navbar__list__"]{
        list-style: none;
        margin-right: 2rem;
        text-decoration: none;
        a {
            text-decoration: none;
            color: white;
        } 
    }

.navbar__list__1 {
    margin-left: 2rem;
    display: flex;
    flex-grow: 6;
}

// .carousel {
//     div {
//         width: 100%;
//         img {
//             width: 100%;
//             height: auto;
//         }
//     }

// }

.welcome {
    background-color: $font-primary-color;
    color: $font-secondary-color;
    margin: none;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.welcome__title {
    padding: 20px;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.welcome__p{
    font-size: 20px;
    padding: 0px 20px 20px 20px;
}

.services { 
    background-color: $services-bgcolor;
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
}

[class ^="service__"]{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-content: center;
    align-items : center;
}

// .service__flex{
//     padding: 10px;
//     display: flex;
//     flex-direction: column;
//     justify-content : center;
//     align-content: center;
//     align-items : center;
// }

.services__img {
    height: 40px;
    width: 40px;
    padding: 5px;
    display: flex;
    text-align: center;
}

.service__h5 {
    padding: 10px;
    font-size: 18px;
}

.services__p {
    padding: 5px;
}

.footer {
    background-color: $footer-bgcolor;
    color: $font-primary-color;
    margin: none;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.footer__p {
    font-size: 18px;
    color: $font-secondary-color;
    display: flex;
    flex-grow: 4;
}

.footer__social {
    list-style: none;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.footer__list {
    list-style: none;
}

.footer__img {
    height: 30px;
    width: 30px;
    padding: 10px;
    display: flex;
    text-align: center;
}

@media (min-width: 320px) {

    .navbar {
        display: flex;
        flex-wrap: wrap;

    }

    .services {
        display: flex;
        flex-wrap: wrap;

    }

}

@media (min-width: 768px) {

    .services {
        display: flex;
        flex-wrap: nowrap;

    }

}

@media (min-width: 1200px) {

    .services {
        display: flex;
        flex-wrap: nowrap;

    }

}